
.app__featured {
	margin: 0;
    position: relative;
	height: 525px;
	color: white;
	object-fit: contain;
	flex-direction: column;
	justify-content: center;
 }
 .featured__fadeBottom{
	margin: 0;
	height:100%;
	width: 100%;
	z-index: 1;
	background: linear-gradient(
		180deg
		,#3a6979,#2c3e50); 
	
}
.app__overlay{
	position: absolute;
	top: 0;
	right: 0;
	height: 33rem;
	mix-blend-mode: overlay;
	-webkit-mask-image: radial-gradient(ellipse farthest-side at 75% 10%, black, transparent);
	pointer-events: none;
    z-index: 10;
	width: 70%;
 }
 .featured__deatils{
	 position: absolute;
	 bottom: 6rem;
	 width: 50%;
	 margin-top:5rem ;
	 padding: 0 3rem ;
 }
 .featured__title{
	 font-weight: 900;
	 font-size: 2rem;
	 margin: -.5rem 0;
 }
 .featured_year{
	margin-left: 0.75rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    opacity: 0.5;
	font-size: 1.5rem;
 }
 .featured__overviewMore{
	 background: transparent;
	 outline-style: none;
	 border: none;
	 color: rgb(0, 5, 8);
	 font-size: 1rem;
	 cursor: pointer;
 }
 .featured__rating{
	 display: flex;
	 align-items: center;
}
.featured__voteAvarage{
	margin-left: 1rem;
}
.featured__voteCount{
	margin-left: .5rem;
}
.featured__playButton{
	position: relative;
	top: 1rem;
}


@media screen and (max-width:750px) {
	.app__overlay {
		width: 100%;
		margin: 0;
		background-position: 50% 0% !important;
	}
	 .featured__deatils{
		 bottom: 3rem;
		width: 90%;
		padding: 0 1rem ;
	}
	.featured__title{
		font-size: 1.5rem;
	}
}
    

