.footer{
    width: 100%;
    background: linear-gradient(to bottom, #2c3e50,#3a6979);
    padding-top: 4rem ;
    padding-bottom: 1rem;
    text-align: center;
}

.github__link{
    cursor: pointer;
}

.footerBrand__logo{
    margin-top:2rem;
}